[Unit]
Description=Zomboid Restore
After=cloud-final.service

[Service]
EnvironmentFile=/etc/zomboid/environment
ExecStartPre=/usr/bin/mkdir /tmp/zomboid-backup
ExecStart=/usr/bin/aws s3 sync s3://${S3_BUCKET}/saves/ /tmp/zomboid-backup
ExecStartPost=/usr/bin/tar xfz /tmp/zomboid-backup/Zomboid.tar.gz
WorkingDirectory=/home/steam/Zomboid
Restart=no
Type=oneshot
User=steam
ProtectHome=read-only
ReadWritePaths=/home/steam/Zomboid
PrivateTmp=true

[Install]
